* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.item img {
  width: 100%;
}
.custom-container {
  margin-left: 10rem; /* Margin bên trái */
  margin-right: 10rem; /* Margin bên phải */

  margin-top: 0; /* Margin bên trên, bạn có thể điều chỉnh nếu cần */
  margin-bottom: 0; /* Margin bên dưới, bạn có thể điều chỉnh nếu cần */
  /* Các thuộc tính khác nếu bạn cần */
}
ul {
  margin-bottom: 0;
}
header .nav_header {
  background-color: #343434;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px 0px;
}
header .nav_header .nav_ql {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

header .nav_header .nav_ql .navheader_left ul {
  display: flex;
}
header .nav_header .nav_ql .navheader_left ul i {
  transition: all 0.8s;
}
header .nav_header .nav_ql .navheader_left ul i:hover {
  color: #fdcb00;
}

header .nav_header .navheader_left ul li {
  list-style: none;
}
header .nav_header .navheader_left ul li a {
  padding-right: 10px;
  color: white;
}
header .nav_header .nav_ql .navheader_right ul {
  display: flex;
  justify-content: right;
}
header .nav_header .navheader_right ul li {
  list-style: none;
}
header .nav_header .navheader_right ul li a {
  text-decoration: none;
  padding-right: 15px;
  color: white;
  font-size: 13px;
  transition: all 0.8s;
}
header .nav_header .navheader_right ul li a:hover {
  color: #fdcb00;
}
header .nav_body {
  background-color: #343434;
}
header .nav_body .footer_left .img_logo {
  width: 100%;
  margin: 10px 0px;
}
header .nav_body .footer_left .form_1 {
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
}
header .nav_body .footer_left .form_1 .input_1 {
  width: 370px;
  height: 45px;
  box-shadow: none;
  border: none;
}
header .nav_body .footer_left .form_1 .input_1 {
  width: 370px;
  height: 45px;
  border: none;
}
header .nav_body .footer_left .form_1 .button_search {
  background-color: #343434;
  border-radius: 5px;
  color: white;
}
header .nav_body .footer_left .form_1 .input_setup {
  padding: 10px;
}
header .nav_body .footer_left .navbody_ql {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
header .nav_body .footer_right {
  display: flex;
  margin-top: 30px;
}
header .nav_body .footer_right .number_phone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #1b1b1b;
  color: white;
  padding: 10px;
  border-radius: 10px;
  height: 45px;
  margin-bottom: 12px;
  padding-top: 20px;
  font-size: 12px;
  font-weight: bold;
  width: 150px;
  margin-right: 10px;
  transition: all 0.5s;
}
header .nav_body .footer_right .number_phone:hover {
  border: 1px solid #dedede;
}
header .nav_body .footer_right .number_phone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #1b1b1b;
  color: white;
  padding: 10px;
  border-radius: 10px;
  height: 45px;
  margin-bottom: 12px;
  padding-top: 20px;
  font-size: 12px;
  font-weight: bold;
  width: 150px;
  margin-right: 10px;
}
header .nav_body .footer_right .number_phone .nav_bodylogo {
  padding-right: 10px;
  margin-bottom: 12px;
  font-size: 15px;
}
header .nav_body .footer_right .product {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #1b1b1b;
  color: white;
  border-radius: 10px;
  height: 45px;
  width: 150px;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  transition: all 0.5s;
}
header .nav_body .footer_right .product:hover {
  border: 1px solid #dedede;
}
header .nav_body .footer_right .product .footer_right_logo {
  font-size: 15px;
  padding-bottom: 10px;
  padding-right: 7px;
}

header .nav_footer {
  background-color: #191919;
  color: white;
}
header .nav_footer .navfooter_menu {
  padding-top: 14px;
  font-weight: bold;
}
header .nav_footer .navfooter_menu1 ul {
  list-style: none;
  display: flex;
}
header .nav_footer .navfooter_menu1 ul li {
  padding: 14px;
}
header .nav_footer .navfooter_menu1 ul .active_head {
  background-color: #000000;
}
header .nav_footer .navfooter_menu1 ul li a {
  text-decoration: none;
  color: white;
}
header .nav_footer .navfooter_menu1 ul li:hover {
  background-color: #3e3e3e;
}
/* PRODUCT  */
.product .container{
  margin-bottom: 20px;
}
.product .title_product_top{
    background-color: #F7F7F7;
}
.product .title_product_top {
  background-color: #f7f7f7;
}
.product .title_product_top h5 {
  background-color: #009fdd;
  width: 20%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid rgba(52, 53, 51, 0.886);
  border-radius: 10px;
  color: white;
}
.product .card_product_top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.product .card_product_top1{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.product .card_product_top .content_product {
  padding: 10px;
  margin-top: 10px;
  min-height: 461px;
}
.product .card_product_top1 .content_product {
  padding: 10px;
  margin-top: 10px;
  min-height: 461px;
}
.product .card_product_top .content_product .image_product img {
  width: 100%;
}
.product .card_product_top1 .content_product .image_product img {
  width: 100%;
}
.product .card_product_top .content_product .text_product {
  text-align: center;
  font-weight: bold;
  transition: all 0.5;
}
.product .card_product_top1 .content_product .text_product {
  text-align: center;
  font-weight: bold;
  transition: all 0.5;
}
.product .card_product_top .content_product:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.product .card_product_top1 .content_product:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.product .card_product_top .content_product:hover .text_product {
  animation-name: slideoutleft;
  animation-duration: 0.5s;
  /* hoi anh xem opacity con gi nua  */
  opacity: 0;
}
.product .card_product_top1 .content_product:hover .text_product {
  animation-name: slideoutleft;
  animation-duration: 0.5s;
  /* hoi anh xem opacity con gi nua  */
  opacity: 0;
}

.product .card_product_top .content_product:hover .buy_product {
  display: block;
  opacity: 1;
  animation-name: slideoutright;
  animation-duration: 0.5s;
}
.product .card_product_top1 .content_product:hover .buy_product {
  display: block;
  opacity: 1;
  animation-name: slideoutright;
  animation-duration: 0.5s;
}
.product .card_product_top .buy_product{
    display: none;
    margin-left: 95px;
}
.product .card_product_top1 .buy_product{
  display: none;
  margin-left: 95px;
}
.product .card_product_top .buy_product {
  display: none;
  margin-left: 90px;
}
.product .card_product_top1 .buy_product {
  display: none;
  margin-left: 90px;
}
@keyframes slideoutleft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-30px);
    opacity: 0;
  }
}
@keyframes slideoutright {
  from {
    transform: translateX(90px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
header .nav_body .footer_right .product {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #1b1b1b;
  color: white;
  border-radius: 10px;
  height: 45px;
  width: 150px;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
}
header .nav_body .footer_right .product .footer_right_logo {
  font-size: 15px;
  padding-bottom: 10px;
  padding-right: 7px;
}
/* footer NAMDAO */
.footer .tt-footer-default {
  background: #343434;
  color: #ffffff;
  padding: 10px 0;
}
.footer .tt-footer-default .tt-newsletter .tt-mobile-collapse {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 480px) {
  .footer .tt-footer-default .tt-newsletter .tt-mobile-collapse {
    display: block;
    display: block;
    display: block;
  }
}
.footer .tt-footer-default .tt-newsletter .tt-collapse-title {
  margin: 0;
  margin-right: 106px;
  padding-bottom: 0;
  white-space: nowrap;
  color: #b9b2b2;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.03em;
  font-weight: 500;
}
@media (max-width: 767px) {
  .footer .tt-footer-default .tt-newsletter .tt-collapse-title {
    margin-right: 50px;
  }
}
@media (max-width: 480px) {
  .footer .tt-footer-default .tt-newsletter .tt-collapse-title {
    margin-right: 0;
    text-align: center;
  }
}
.footer .tt-footer-default .tt-newsletter .tt-collapse-content {
  width: 100%;
  display: block;
}
.footer .tt-footer-default .tt-newsletter .tt-collapse-content form {
  position: relative;
  margin-bottom: 0;
}
.footer .tt-footer-default .tt-newsletter .tt-collapse-content form input {
  border: none;
  border-radius: 0;
  padding: 0 10px;
}
.footer .tt-footer-default .tt-newsletter .tt-collapse-content form button {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}
.footer
  .tt-footer-default
  .tt-newsletter
  .tt-collapse-content
  form
  button:hover,
.footer
  .tt-footer-default
  .tt-newsletter
  .tt-collapse-content
  form
  button:focus {
  background-color: #343434;
}
.footer .tt-footer-default .tt-social-icon {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}
.footer .tt-footer-default .tt-social-icon li {
  display: inline-block;
  padding: 0 5px;
}
.footer .tt-footer-default .tt-social-icon li a {
  color: #ffffff;
  line-height: 40px;
  font-size: 15px;
}
.footer .tt-footer-default .tt-social-icon li a:hover,
.footer .tt-footer-default .tt-social-icon li a:focus {
  color: #4a90e2;
}

.footer .site-footer {
  background-color: #191919;
}
.footer .site-footer .footer-widget h3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}
@media (max-width: 767px) {
  .footer .site-footer .footer-widget h3 {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer .site-footer .footer-widget h3:before {
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    color: #7e7b7b;
  }
  .footer .site-footer .footer-widget h3.active:before {
    content: "\f106";
  }
}
.footer .site-footer .footer-widget .ul-footer-contact li span {
  color: #7e7b7b;
}
.footer .site-footer .list-menu a:hover,
.footer .site-footer .list-menu a:focus {
  color: #4a90e2;
  text-decoration: none;
}
@media (max-width: 767px) {
  .footer .site-footer .list-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer .site-footer .col-mb {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .footer .site-footer .col-no-mb .footer-widget h3:before {
    display: none;
  }
  .footer .site-footer .col-no-mb .list-menu {
    display: block !important;
  }
}
@media (max-width: 991px) {
  .footer .site-footer .footer-inner .col-sm-6:nth-child(3) {
    clear: left;
  }
}

.footer .copyright {
  background-color: #0f0f0f;
  color: #888;
  font-size: 13px;
}
.footer .copyright a {
  color: #888;
}
.footer .copyright a:hover,
.footer .copyright a:focus {
  color: #343434;
  text-decoration: none;
}
/*back to top NAMDAO */
#btnBackToTop {
  display: none;
  position: fixed;
  bottom: 3px;
  right: 3px;
  z-index: 99;
  border: none;
  outline: none;
  padding: 10px 15px;
  background-color: rgb(199, 60, 83);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
  transition: all 0.5s;
}
#btnBackToTop:hover {
  background-color: rgb(162, 27, 50);
}
/* right sidebar */
span.capst-icon.-back span.fa {
  position: static;
  color: #e6ebff;
}

#capstDemoBar.capst-demo-bar {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 40px 5px 10px;
  padding-top: 70px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

#capstDemoBar.capst-demo-bar a {
  display: block;
  color: #e6ebff;
  text-decoration: none;
  line-height: 24px;
  opacity: 0.6;
  margin-bottom: 20px;
  text-align: center;
}

#capstDemoBar.capst-demo-bar span.capst-icon {
  display: block;
}

#capstDemoBar.capst-demo-bar a:hover {
  opacity: 1;
}

#capstDemoBar.capst-demo-bar .capst-icon svg {
  color: #e6ebff;
}

#capstDemoBar.capst-demo-bar .responsive-icons {
  margin-top: 30px;
  border-top: 1px solid #41414d;
  padding-top: 40px;
}

#capstDemoBar.capst-demo-bar .demo-btns {
  padding-top: 30px;
}

#capstDemoBar.capst-demo-bar .responsive-icons a span.fa {
  font-size: 26px;
}

#capstDemoBar.capst-demo-bar .no-margin-bottom {
  margin-bottom: 0;
}

.toggle-rightsidebar span {
  background: #0d1326;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #e6ebff;
  border-radius: 50px;
  font-size: 26px;
  cursor: pointer;
  opacity: 0.5;
}

.pull-right-demo-bar {
  float: right;
  position: fixed;
  right: 0px;
  bottom: 22rem;
  width: 90px;
  z-index: 99999;
  text-align: center;
}

#rightsidebar {
  width: 90px;
  position: fixed;
  z-index: 1000;
  right: 0px;
  bottom: 0;
  margin-bottom: 5rem;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow-y: auto;
}

.hide-right-bar-notifications {
  margin-right: -300px !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 992px) {
  #capstDemoBar.capst-demo-bar a.desktop-mode {
    display: none;
  }
}

@media (max-width: 767px) {
  #capstDemoBar.capst-demo-bar a.tablet-mode {
    display: none;
  }
}

@media (max-width: 568px) {
  #capstDemoBar.capst-demo-bar a.mobile-mode {
    display: none;
  }

  #capstDemoBar.capst-demo-bar .responsive-icons {
    margin-top: 0px;
    border-top: none;
    padding-top: 0px;
  }

  #rightsidebar,
  .pull-right-demo-bar {
    width: 90px;
  }

  #capstDemoBar.capst-demo-bar .no-margin-bottom-mobile {
    margin-bottom: 0;
  }
}
.hotline-phone-ring-circle {
  width: 85px;
  height: 85px;
  top: 10px;
  left: 10px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #e60808;
  -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0.5;
}
.hotline-phone-ring-circle-fill {
  width: 55px;
  height: 55px;
  top: 22px;
  left: 26px;
  position: absolute;
  background-color: rgba(230, 8, 8, 0.7);
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.hotline-phone-ring-img-circle {
  background-color: #e4212a;
  width: 33px;
  height: 33px;
  top: 33px;
  left: 37px;
  position: absolute;
  background-size: 20px;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hotline-phone-ring-img-circle .pps-btn-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.hotline-phone-ring-img-circle .pps-btn-img img {
  width: 20px;
  height: 20px;
}

.hotline-bar {
  position: absolute;
  background: #e88a25;
  background: -webkit-linear-gradient(left, #e88a25, #d40000);
  background: -o-linear-gradient(right, #e88a25, #d40000);
  background: -moz-linear-gradient(right, #e88a25, #d40000);
  background: linear-gradient(to right, #e88a25, #e4212a);
  height: 40px;
  width: 200px;
  line-height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  background-size: 100%;
  cursor: pointer;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  z-index: 9;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px !important;
  left: 33px;
}
.hotline-bar > a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
  text-indent: 50px;
  display: block;
  letter-spacing: 1px;
  line-height: 38px;
  font-family: Arial;
}
.hotline-bar > a:hover,
.hotline-bar > a:active {
  color: #fff;
}
@-webkit-keyframes phonering-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
  }
}
@-webkit-keyframes phonering-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
}
@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}
@media (max-width: 768px) {
  .hotline-bar {
    display: none;
  }
}

.hotline-phone-ring-img-circle .pps-btn-img img {
  width: 20px;
  height: 20px;
}
img {
  border: none;
}

.hotline-phone-ring-wrap {
  position: fixed !important;
  bottom: 0;
  left: 0;
  z-index: 1111111;
}

.hotline-phone-ring {
  position: relative;
  visibility: visible;
  background-color: transparent;
  width: 110px;
  height: 110px;
  cursor: pointer;
  z-index: 11;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: visibility 0.5s;
  left: 0;
  bottom: 0;
  display: block;
}

.float-icon-hotline {
  display: block;
  width: 40px;
  position: fixed;
  bottom: 85px;
  left: 33px;
  z-index: 999999;
}

.float-icon-hotline ul {
  display: block;
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
}
.float-icon-hotline ul li {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}
.float-icon-hotline ul li a#messengerButton {
  padding: 0px !important;
  background: transparent !important;
  border: 0px !important;
}
@media only screen and (min-width: 960px) {
  .float-icon-hotline ul li .fa {
    background-size: contain !important;
  }
}
.float-icon-hotline ul li .fa-phone {
  background-color: #ed1c24;
}
.float-icon-hotline ul li .fa {
  background-color: #ed1c24;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 36px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
.animated.infinite {
  animation-iteration-count: infinite;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.tada {
  animation-name: tada;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.float-icon-hotline ul li span {
  display: inline-block;
  padding: 0;
  background-color: #ff6a00;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  height: 40px;
  line-height: 36px;
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 0;
  width: 0;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #ff6a00;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
}

ul.left-icon.hotline {
  margin-left: 0px !important;
}

.float-icon-hotline ul li .fa-zalo {
  background: url(https://netweb.vn/img/hotline/zalo.png) center center
    no-repeat;
}
.float-icon-hotline ul li .fa-zalo:hover {
  background: #ef0303 url(https://netweb.vn/img/hotline/zalo.png) center center
    no-repeat;
  opacity: 0.5;
}
.float-icon-hotline ul li .fa-messenger {
  background: url(https://netweb.vn/img/hotline/fb.png) center center no-repeat;
}
.float-icon-hotline ul li .fa-messenger:hover {
  background: #168efb url(https://netweb.vn/img/hotline/fb.png) center center
    no-repeat;
  opacity: 0.5;
}

.section-news h2.home-title {
  display: block;
  font-size: 24px;
  line-height: 40px;
  margin: 0;
  color: #222;
  text-align: center;
  border-bottom: 2px solid #eee;
  padding-bottom: 12px;
  margin-bottom: 14px;
  position: relative;
}
@media (max-width: 480px) {
  .section-news h2.home-title {
    font-size: 16px;
  }
}
.section-news h2.home-title a {
  color: #222;
}
.section-news h2.home-title a:hover,
.section-news h2.home-title a:focus {
  color: #343434;
}
.section-news h2.home-title:after {
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  bottom: -2px;
  content: "";
  width: 76px;
  height: 2px;
  display: inline-block;
  background: #343434;
  position: absolute;
}

section-news .list-blogs-link .blog-item .blog-item-thumbnail {
  position: relative;
  overflow: hidden;
}
.section-news .list-blogs-link .blog-item .blog-item-thumbnail:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding-bottom: 100%;
  margin-top: -50%;
  opacity: 0;
  background: #343434;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.5s;
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.5s;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s;
  z-index: 1;
}
@media (max-width: 767px) {
  .section-news .list-blogs-link .blog-item .blog-item-thumbnail {
    width: 210px;
    float: left;
    margin-right: 10px;
  }
}
@media (max-width: 480px) {
  .section-news .list-blogs-link .blog-item .blog-item-thumbnail {
    width: 110px;
  }
}

.section-news .list-blogs-link .blog-item .blog-item-name {
  font-size: 14px;
}
@media (max-width: 767px) {
  .section-news .list-blogs-link .blog-item .blog-item-name {
    margin-top: 0 !important;
  }
}
.section-news .list-blogs-link .blog-item .blog-item-name a {
  font-size: 14px;
  color: #222;
}
.section-news .list-blogs-link .blog-item .blog-item-name a:hover,
.section-news .list-blogs-link .blog-item .blog-item-name a:focus {
  color: #343434;
}

.section-news .list-blogs-link .blog-item .post-time {
  padding: 3px 0;
  font-size: 13px;
  color: #999;
}

@media (max-width: 480px) {
  .section-news .list-blogs-link .blog-item .blog-item-summary {
    display: none;
  }
}

.section-news .list-blogs-link .blog-item:hover .blog-item-thumbnail:before {
  opacity: 0.4;
  -webkit-transform: scale(1.55);
  -moz-transform: scale(1.55);
  -ms-transform: scale(1.55);
  transform: scale(1.55);
}

.section-news .list-blogs-link .blog-item:hover .blog-item-name a {
  color: #343434;
}
.section-news .list-blogs-link .blog-item .blog-item-thumbnail {
  position: relative;
  overflow: hidden;
}

.section-news .list-blogs-link .blog-item .blog-item-thumbnail a {
  display: block;
  overflow: hidden;
}

.section-news .list-blogs-link .blog-item .blog-item-thumbnail a img {
  width: 100%;
  height: 300px;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s;
}

.section-news .list-blogs-link .blog-item .blog-item-thumbnail a:hover img {
  transform: scale(1.1);
  opacity: 0.7;
}

