*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    margin-bottom: 0;
}
header .nav_header{
    background-color: #343434;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 0px;
}
header .nav_header .nav_ql{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

header .nav_header .nav_ql .navheader_left ul{
    display: flex;
}
header .nav_header .nav_ql .navheader_left ul i{
    transition: all 0.8s;
}
header .nav_header .nav_ql .navheader_left ul i:hover{
    color: #FDCB00;
}

header .nav_header .navheader_left ul li{
    list-style: none;
}
header .nav_header .navheader_left ul li a{
    padding-right: 10px;
    color: white;
}
header .nav_header .nav_ql .navheader_right ul {
    display: flex   ;   
    justify-content: right;
}
header .nav_header .navheader_right ul li{
    list-style: none;
}
header .nav_header .navheader_right ul li a{
    text-decoration: none;
    padding-right: 15px;
    color: white;
    font-size: 13px;
    transition: all 0.8s;
}
header .nav_header .navheader_right ul li a:hover{
    color: #FDCB00;
}
header .nav_body {
    background-color: #343434;
}
header .nav_body .footer_left .img_logo {
    width: 100%;
    margin: 10px 0px;
}
header .nav_body .footer_left .form_1{
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}
header .nav_body .footer_left .form_1 .input_1{
    width: 370px;
    height: 45px;
    box-shadow: none;
    border: none;
}
header .nav_body .footer_left .form_1 .button_search{
    background-color: #343434;
    border-radius: 5px;
    color: white;
}
header .nav_body .footer_left .form_1 .input_setup{
    padding: 10px;
}
header .nav_body .footer_left .navbody_ql{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .nav_body .footer_right {
    display: flex;
    margin-top: 30px;
}
header .nav_body .footer_right .number_phone
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #1B1B1B;
    color: white;
    padding: 10px;
    border-radius: 10px;
    height: 45px;
    margin-bottom: 12px;
    padding-top: 20px;
    font-size: 12px;
    font-weight: bold;
    width: 150px;
    margin-right: 10px;
    transition: all 0.5s;
}
header .nav_body .footer_right .number_phone:hover{
    border: 1px solid #DEDEDE;
}
header .nav_body .footer_right .number_phone .nav_bodylogo{
    padding-right: 10px;
    margin-bottom: 12px;
    font-size: 15px;
}
header .nav_body .footer_right .product{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #1B1B1B;
    color: white;
    border-radius: 10px;
    height: 45px;
    width: 150px;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    transition: all 0.5s;
}
header .nav_body .footer_right .product:hover{
    border: 1px solid #DEDEDE;
}
header .nav_body .footer_right .product .footer_right_logo{
    font-size: 15px;
    padding-bottom: 10px;
    padding-right: 7px;
}

header .nav_footer{
    background-color: #191919;
    color: white;
}
header .nav_footer .navfooter_menu{
    padding-top: 14px;
    font-weight: bold;
}
header .nav_footer .navfooter_menu1 ul{
    list-style: none;
    display: flex;
}
header .nav_footer .navfooter_menu1 ul li{
    padding: 14px;
}
header .nav_footer .navfooter_menu1 ul .active_head{
    background-color: #000000;
}
header .nav_footer .navfooter_menu1 ul li a{
    text-decoration: none;
    color: white;
}
header .nav_footer .navfooter_menu1 ul li:hover{
    background-color: #3E3E3E;
}
/* PRODUCT  */
.product .title_product_top{
    background-color: #F7F7F7;
}
.product .title_product_top h5{
    background-color: #009FDD;
    width: 20%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid rgba(52, 53, 51, 0.886);
    border-radius: 10px;
    color: white;
}
.product .card_product_top{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}
.product .card_product_top .content_product{
    padding: 10px;
    margin-top: 10px;
}
.product .card_product_top .content_product .image_product img{
    width: 100%;
}
.product .card_product_top .content_product .text_product {
    text-align: center;
    font-weight: bold;
    transition: all 0.5;
}
.product .card_product_top .content_product:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.product .card_product_top .content_product:hover .text_product {
    animation-name: slideoutleft;
    animation-duration: 0.5s;
    /* hoi anh xem opacity con gi nua  */
    display: none;
}

.product .card_product_top .content_product:hover .buy_product{
    display: block;
    opacity: 1;
    animation-name: slideoutright;
    animation-duration: 0.5s;
    
}
.product .card_product_top .buy_product{
    display: none;
    margin-left: 90px;
}
@keyframes slideoutleft {
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(-30px);
        opacity: 0;
    }
}
@keyframes slideoutright {
    from{
        transform: translateX(90px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}